html,
body {
  background-color: rgb(194, 194, 194);
  padding: 0%;
  margin: 0%;
  border: 0;
  height: 85vh;
  font-family: system, -apple-system, system-ui, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Kohinoor Devanagari",
    sans-serif;
}

h3 {
  width: 100%;
  font-size: 16px;
}

body header {
  background-color: green;
  height: 15vh;
  padding: 0%;
  margin: 0%;
  border: 0;
}

main section {
  height: 94%;
  margin: 0;
  padding: 0;
  border: 0;
}
main header {
  height: 6%;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
}

#main-container {
  position: relative;
  margin: 0% 10% 0% 10%;
  top: -15%;
  height: 112%;
  background-color: yellow;
}
#ContactsHeader {
  width: 25%;
  height: 100%;
  float: left;
  background: rgb(243, 243, 243);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#ConversationsHeader {
  width: 75%;
  height: 100%;
  float: left;
  background: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-left: 1px solid #fff;
}
#Contacts {
  width: 25%;
  height: 100%;
  float: left;
  background: white;
  overflow: scroll;
}
#Conversation {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 75%;
  height: 100%;
  float: left;
}

#Conversation > div {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 241, 202);
  position: relative;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

#Conversation footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 4rem;
  width: 100%;
  background: rgb(243, 243, 243);
  position: relative;
}
#Conversation footer input {
  width: 90%;
  height: 2.5rem;
  border-radius: 10px;
  border: 1px;
}
.AppButton:first-child {
  height: 2rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
}
.AppButton {
  height: 2rem;
  margin: 0rem 0.5rem 0rem 0rem;
}

.Contact {
  border-radius: 50%;
  height: 80%;
  margin: 0.5rem;
}

.Input {
  position: relative;
  background-color: white;
  width: fit-content;
  max-width: 65%;
  padding: 16px;
  margin: 10px 10px 10px 45px;
  border-radius: 0% 20px 20px 20px;
  float: left;
}
.Input:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0px;
  height: 20px;
  width: 20px;
  border-bottom-left-radius: 50%;
  background: rgb(255, 241, 202);
  box-shadow: 0px 10px 0 0 white;
}
.Output {
  position: relative;
  background-color: rgb(120, 196, 152);
  width: fit-content;
  max-width: 65%;
  padding: 16px;
  margin: 10px 45px 10px 10px;
  border-radius: 20px 0px 20px 20px;
  float: right;
}
.Output:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0px;
  height: 20px;
  width: 20px;
  border-bottom-right-radius: 50%;
  background: rgb(255, 241, 202);
  box-shadow: 0px 10px 0 0 rgb(120, 196, 152);
}

.ContactTitle {
  font-size: smaller;
  color: red;
}
